<h1 class="text-3xl mb-8">
  Your affordability statements
</h1>

<%= link_to(
      "Create a new statement",
      new_affordability_statement_url,
      class: "underline hover:font-medium"
    ) %>

<table class="mt-8 w-full">
  <thead>
    <tr>
      <th>Statement period</th>
      <th>Total income</th>
      <th>Total expenditure</th>
      <th>Disposable income</th>
    </tr>
  </thead>
  <tbody>
    <% @statements.each do |affordability_statement| %>
      <tr>
        <td><%= affordability_statement.statement_period.strftime("%B %Y") %></td>
        <td><%= number_to_currency(affordability_statement.total_income / 100.00, unit: "£") %></td>
        <td><%= number_to_currency(affordability_statement.total_expenditure / 100.0, unit: "£") %></td>
        <td><%= number_to_currency(affordability_statement.disposable_income / 100.0, unit: "£") %></td>
      </tr>
    <% end %>
</table>
