<h1 class="text-3xl mb-8">
  Create a new affordability statement
</h1>

<p>Please add all your income and expenditure in the chosen month.</p>

<%= form_with model: @statement, url: affordability_statements_url, class: "max-w-sm mt-10 text-gray-900" do |f| %>
  <% if @statement.errors.any? %>
    <div class="bg-red-50 border border-red-400 text-red-700/80 rounded-lg p-4 mb-6">
      <p class="text-red-700/80 text-sm font-medium mb-5 underline underline-offset-2">
        There was a problem with your submission
      </p>
      <ul class="text-red-700/80 text-sm font-medium">
        <% @statement.errors.full_messages.each do |message| %>
          <li class="mb-2">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-8">
    <%= f.label :statement_period, class: "block mb-2 font-medium" %>
    <%= f.date_select(
          :statement_period,
          prompt: true,
          discard_day: true,
          class: "bg-gray-50 border border-gray-300 rounded-lg block p-2"
        ) %>
  </div>

  <%= f.fields_for :transactions do |transaction_fields| %>
    <%= fieldset_tag "Transaction #{transaction_fields.index + 1}", class: "border-2 border-gray-300 rounded-lg p-2.5 mb-6 space-y-2" do %>
      <div>
        <%= transaction_fields.label :category, class: "block mb-2 font-medium" %>
        <%= transaction_fields.collection_select(
              :category,
              Affordability::Transaction.categories,
              :first,
              -> { it.first.humanize },
              {prompt: true},
              class: "bg-gray-50 border border-gray-300 rounded-lg block p-2"
            ) %>
      </div>

      <div>
        <%= transaction_fields.label :description, class: "block mb-2 font-medium" %>
        <%= transaction_fields.text_field :description, class: "bg-gray-50 border border-gray-300 rounded-lg block p-2" %>
      </div>

      <div>
        <%= transaction_fields.label :amount, "Amount (in pence)", class: "block mb-2 font-medium" %>
        <%= transaction_fields.number_field(
              :amount,
              min: 1,
              step: 1,
              class: "bg-gray-50 border border-gray-300 rounded-lg block p-2"
            ) %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit "Submit statement", class: "text-white bg-green-600/80 hover:bg-green-800/80 font-medium rounded-lg px-5 py-2.5 mb-5 text-center cursor-pointer" %>
<% end %>
